.technologies{
	padding:5px;
	text-align: center;
	width: 70vw;
}
.technologies .child{
	display:inline-block;
	height:20vh;
	width: 20vw;
}
.technologies .child2{
	display:inline-block;
	height:20vh;
	width: 20vw;
}
.technologies .child3{
	display:inline-block;
	height:20vh;
	width: 20vw;
}